<!doctype html>
<html ng-app>
  <head>
    <meta charset="utf-8">
    <title>CogoTest</title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/buttons-min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" >
    <script src="http://code.angularjs.org/1.1.5/angular.js"></script>
    <script src="http://use.edgefonts.net/lato:n1,i1.js"></script> 
    <link rel="stylesheet" href="css/main.css">
    <script src="js/main.js"></script>
  </head>
  <body>
    <div class="container" ng-controller="RankCtrl">
    <div class= "header">
    <h1>CogoLabs UI Test</h1>
    <a class="pure-button github-link" href="http://github.com/oojr/cogo-test"><i class="icon-github"></i> View on Github</a>
    
    </div>
    
    

    
    <div class="row">
       
        <div class="col-xs-12 col-md-6">
            <div class="add-player">
                    <h2>Add Player</h2>

                
                    <input type="text" ng-model="playerText" class="pure-input" placeholder="Name, Score">
                        <button ng-click="addPlayer()" 
                                class="pure-button pure-button-primary">
                            <i class="icon-plus-sign"></i> 
                            Add to Rankings</button>
            </div>
                   
        </div>
        <div class="col-xs-12 col-md-6 gray-bg">
            
        <h2 class="ranking-text">Rankings</h2>
         <button ng-click="clearRank()"
                                 class="pure-button pure-button-error">
                            <i class="icon-trash"></i> 
                            Clear Rankings</button>
                            
        <ul id="rankings" >
            <li ng-animate="'animate'" ng-repeat="player in players | orderBy:predicate" class="my-repeat-animation" >
              {{player.rank}}.  {{player.name}}, {{player.score}} 
            </li>

        </ul>

        
    </div>
        </div>
        <div class= "footer">
    <h2>Olajide Ogundipe Jr</h2>
    </div>

</div>
    <!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script> -->
    <!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.0.0/lodash.min.js"></script> -->
    
  </body>
</html>
